@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	font-family: "Poppins";
	color: white;
	z-index: 100;

}

body {
	margin: 0;
	background: black;
	user-select: none;
}


nav {
	position: relative;
	padding: 10px 15px;
	font-size: 1.2em;
}


.threejs-container {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -99;
}


section {
	display: grid;
	align-content: center;
	min-height: 70vh;
	padding: 0 25px;
}

section p {
	opacity: 0.8;
}


#watermark {
	text-align: right;
}

button {
	transition: 500ms ease;
	width: 150px;
	height: 30px;
	background: transparent;
	border: solid 1px white;
	border-radius: 5px;
}

button:hover {
	box-shadow: 0 0 10px #c4c4c4;
}


.large {
	font-size: 1.5em;
}
