@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	font-family: "Poppins";
	color: white;
	z-index: 100;

}

body {
	margin: 0;
	background: black;
	user-select: none;
}


nav {
	position: relative;
	z-index: 999;
	padding: 10px 15px;
	font-size: 1.2em;
}

.navchild {
	float: right;
	opacity: 0.7;
	font-size: 15px;
	padding: 5px;
	text-decoration: none;
}

.threejs-container {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -99;
}


section {
	display: grid;
	align-content: center;
	min-height: 70vh;
	padding: 0 35px;
}

section p {
	opacity: 0.8;
}


#watermark {
	text-align: right;
	opacity: 0.6;
}


.large {
	font-size: 1.5em;
}
